/* -------------------- CSS RESET -------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}


/* -------------------- GENEREL CSS -------------------- */

/* link til downloaded font */
@font-face{
    src: url(googlefont/Qwitcher_Grypen/QwitcherGrypen-Regular.ttf);
    font-family: Qwitcher;
}

h1 {
    font-size: 100px;
    font-family: josefin-sans, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    color: #343B34;
}

h2{
    font-size: 140px;
    font-family: Qwitcher;
    color: #343B34;
}

h3 {
    font-size: 50px;
    font-family: josefin-sans, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    color: #343B34;
}

h4 {
    font-size: 45px;
    font-family: josefin-sans, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #343B34;
}

p {
    font-size: 30px;
    font-family: josefin-sans, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #343B34;
}

.priser {
    font-size: 30px;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #343B34;
}

.beige-font {
    color: #EFECE6;
}

body{
    background-color: #EFECE6;
}


/*forside - sektion med teaser*/

    
.flexbilleder{
    display: flex;
}

.teaserbillede2{
    height: auto;
}
   
/*sektion forside - kom godt i gang*/

    .sektionkomgodtigang{
        min-height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .bokskomgodtigang{
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Venstrebillede{
        width: 40%;
        height: 400px;
        margin-bottom: 145px;   
    }

    .Højrebillede {
        width: 50%;
        min-height: 600px;
        background-color:#586056;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        color: #EFECE6;    
    }

    #komgodtigangtekst{
        color: #EFECE6;
        text-align:left;
    }
    .knapkomgodtigang{
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 30px;
        border: 4px solid #EFECE6;
        color: #EFECE6;
        padding: 20px 30px;
        display: inline-block;
        letter-spacing: 2px;
        justify-content: center;
    }
    


/*sektion forside - kundeanmeldelser*/



/*Errorside*/

    body{
    background-color: #EFECE6; 
    }
        
    .errorbillede{
    display: flex;
    justify-content: center;
    background-image:url("images/baggrundtstjerner.png");
    }
    
    .errortekst{
    display: flex;
    color:#343B34;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 50px;
    font-size: x-large;
    text-align: center;
    line-height: 145%;
    }

    .errorknap{
    background-color: #343B34;
    color: #EFECE6;
    border: none;
    padding: 15px 32px;
        
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }


/*--------------------- KORSSTING --------------------------*/

.korssting_top{
   display: flex;
   flex-direction: row;
}


#paaske-lyseroed{
    max-width: 100%;
    margin-left: 60px;
    margin-top: 20px;
}


#blaabilpaavaeg{
    max-width: 100%;
}

.korssting_overskrift, h1{ 
    padding-top: 350px;
}

.korssting_underoverskrift{
    padding-top: 20px;
    padding-left: 200px;
}


.korssting_topmid{
    background-color:#D9D9D1;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.korssting_tekst_topmid{
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 100px;
}

.broedtekst_korssting{
    padding-top: 30px;
    line-height: 40px;
}


#korssting_sok{
    max-width: 100%;
}

#korssting_pude{
    width: 40%;
    padding-left: 250px;
}


.korssting_bottommid{
    margin: 200px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
 
}

.video_innersection_korssting{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
 
}

.video_thumbnail{
    max-width: 100%;
}

.korssting_tekst_bottommid{
    padding-left: 40px;
}


/* -------------------- INSTAGRAM FEED -------------------- */

.instagram-section {
    margin: 5%;
    position: relative;
}


#instagram-mobil{
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 55%;
    transform: rotate(345deg);
}

#instagram-mobil:hover {
    transform: rotate(340deg);
    transition: .5s ease;
}

.instagram-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 40px;
}

.instagram-feed {
    position: relative;
  }
  
  .instagram-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .instagram-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #586056d4;
  }
  
  .instagram-feed:hover .instagram-overlay {
    opacity: 1;
  }
  
  .instagram-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
  }

  .instagram-text:hover {
    font-size: 30px;
    transition: .5s ease;
  }

/*----------------------LAER AT BRODERE ------------------*/
/*TOPSECTION*/
/*Display Grid for hele sektionen*/
.brodere_topsection {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto; /*Så indholdet bestemmer størrelsen*/
    padding-bottom: 200px; /*afstand til næste afsnit*/
  }
/*Placering de tre divs i grid, og elementernes størrelse*/
  .brodere_topsection_big_picture {
    grid-column: 1 /3;
    grid-row: 1 / 6;
    max-width: 40vw; 
    min-width: 30vw;
  }
  .brodere_topsection_small_picture {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    max-width: 30vw;
    min-width: 20vw;
  }
  .brodere_topsection_text {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }
  /*2ND_SECTION*/
  .brodere_2nd_section {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto; 
    padding-bottom: 200px;
  }
  .brodere_2nd_section_small_picture {
    grid-column: 1;
    grid-row: 2 / 3;
    max-width: 30vw; 
    min-width: 10vw;
  }
  .brodere_2nd_section_text {
    grid-column: 2;
    grid-row: 2 / 3;
    padding-right: 10px;
    padding-left: 10px;
  }
  .brodere_2nd_section_big_picture {
    grid-column: 3;
    grid-row: 1 / 4;
    max-width: 30vw;
    min-width: 5vw;
  }
  /*3RD_SECTION*/
  .brodere_3rd_section{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto; 
    padding-bottom: 200px;
  }
  .brodere_3rd_section_box {}
  .brodere_3rd_section_picture{}

  /*4TH_SECTION*/
  .brodere_4th_section{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto; 
    padding-bottom: 200px;
  }
  .brodere_4th_section_small_picture {
    grid-column: 1;
    grid-row: 2 / 3;
    max-width: 30vw; 
   /* min-width: 10vw;*/
  }
  .brodere_4th_section_text {
    grid-column: 2;
    grid-row: 2 / 3;
    padding-right: 10px;
    padding-left: 10px;
  }
  .brodere_4th_section_big_picture {
    grid-column: 3;
    grid-row: 1 / 4;
    max-width: 30vw;
   /* min-width: 5vw;*/
  }

/* -------------------- MEDIA QUERIES -------------------- */

@media only screen and (max-width:1024px){
    .instagram-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    #instagram-mobil {
        display: none;
    }
}

@media only screen and (max-width:768px){
    h1{
        font-size: 50px;
    }
    
    h2{
        font-size: 55px;
    }
    
    h3{
        font-size: 30px;
    }
    
    h4{
        font-size: 16px;
    }
    
    p{
        font-size: 16px;
    }

    .priser {
        font-size: 16px;
    }
    .bokskomgodtigang{
        flex-direction: column;
        width: 100%;
        
    }
    .Venstrebillede{
        width: 100%;
    }
    .Højrebillede{
        width: 60%;
        margin: 0;
        
        margin-top: -300px;
    }
}

@media only screen and (max-width:580px){

}

@media only screen and (max-width:425px){

}

@media only screen and (min-width:375px){

}